<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Show</title>
</head>
<body>
    <h1>Add a New Show</h1>
    <form action="/show/create" method="POST">
        {% csrf_token %}
        <h2> Title <input type="text" name="title" id="title"> </h2>
        <h2>Network <input type="text" name="network" id="network"></h2>
        <h2>Date <input type="date" name="date" id="date"></h2>
        <h2>Description <input type="text" name="description" id="description"></h2>
        <input type="submit" name="create" id="create">
    </form>
    <a href="/show">Go Back</a>
</body>
</html>